{{@extends "parts/layout"}}
{{@section "content"}}

{{#if post}}
<article class="article">
  <div class="wrap">
    <header class="article-head">
      <h1>{{post.title}}</h1>
      {{#if post.excerpt}}<p class="lede">{{post.excerpt}}</p>{{/if}}
    </header>

    {{#if post.html}}<div class="prose">{{{post.html}}}</div>{{/if}}
  </div>
</article>
{{else}}
  <div class="wrap">
    <p class="empty">{{#if (contains(locale, "zh"))}}找不到这个页面。{{else}}That page could not be found.{{/if}}</p>
  </div>
{{/if}}

{{/section}}
